#as img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#as img.top:hover {
  opacity:0;
}

.top {
    margin-left: auto;
  margin-right: auto;
}
.bottom{
    margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #f0db4f;
}